<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is a landing page with information about the Trackgenix app">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/sidebar.css">
  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/login.css">
  <link rel="stylesheet" href="../styles/sign-up.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <script src="../javascript/login.js"></script>
  <title>Trackgenix | Login</title>
</head>
<body>
  <header class="header">
    <section class="flex-menu">
      <div class="box-menu"><i class="fa-solid fa-bars"></i></div>
      <a  class="box-menu" href="#home">Trackgenix</a>
    </section>
    <nav id="nav-menu" class="flex-menu">
      <a class="box-menu" href="#about-trackgenix">About</a>
      <a class="box-menu" href="#functions">Functions</a>
      <a class="box-menu" href="#information">Information</a>
      <a class="box-menu" href="#history">History</a>
      <a class="box-menu" href="#products-services">Products & Services</a>
    </nav>
  </header>
  <div class="principal">   
    <aside>
      <div class="flex-aside-1">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="search">
      </div>
      <div class="flex-aside">
        <span>Menu</span>
        <a class="box-menu" href="#home"><i class="fa-solid fa-house"></i> Home</a>
        <a class="box-menu" href="#"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
        <a class="box-menu" href="#"><i class="fa-solid fa-user"></i> Sign In </a>
      </div>
      <div class="flex-aside">
        <span>Contact</span>
        <p><i class="fa-solid fa-envelope"></i> info@gigatech.com</p>
        <p><i class="fa-solid fa-mobile-screen-button"></i> (+000) 000-0000000</p>
        <p><i class="fa-solid fa-map-pin"></i> 1234 SomeWhere Road, SomeWhere XX 000-0000</p>
      </div>
    </aside>
    <main>
      <section>

      </section>
      <section>

      </section>
    </main>   
    <!--
    <main>
      <section class="flex-home">
        <div class="box-home">
          <h1>Trackgenix</h1>
          <h2>Make it easy to record hours worked on each project and work team at GigaTech Software Solutions SA</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit cum ad iusto quod, nemo quis, optio corrupt
            i aliquid saepe quae ullam! Suscipit velit aspernatur porro quod nostrum quo, ipsam eveniet.
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit cum ad iusto quod, nemo quis, optio corrupt
            i aliquid saepe quae ullam! Suscipit velit aspernatur porro quod nostrum quo, ipsam eveniet.
          </p>
          <button>Learn more</button>
        </div>
        <div class="box-home">
          <img src="assets/home-desktop.jpg" alt="Woman at the office interacting with a tablet next to a laptop.">
        </div>
      </section>
      <h2>About Trackgenix</h2>
      <section class="flex-about">
        <div class="box-about">
          <img src="assets/light-bulb.png" alt="Light bulb">
          <div>
            <h3>Productivity booster</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis velit neque error, laboriosam eligendi vel voluptate?
            </p>
          </div>
        </div>
        <div class="box-about">
          <img src="assets/shhet-search.png" alt="Sheet search">
          <div>
            <h3>Work traceability</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis aliquam velit neque error, laboriosam eligendi vel
              voluptate?
            </p>
          </div>
        </div>
        <div class="box-about">
          <img src="assets/user.png" alt="User">
          <div>
            <h3>Leadership & Team management</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis aliquam velit neque error, laboriosam eligendi vel
              voluptate?
            </p>
          </div>
        </div>
        <div class="box-about">
          <img src="assets/hand.png" alt="Hand">
          <div>
            <h3>Decision making</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis aliquam velit neque error, laboriosam eligendi vel
              voluptate?
            </p>
          </div>
        </div>
      </section>
      <h2>Functions</h2>
      <section class="flex-about">
        <div class="box-about">
          <img src="assets/clock.png" alt="">
          <div>
            <h3>Record of hours</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis aliquam velit neque error, laboriosam eligendi vel
              voluptate?
            </p>
          </div>
        </div>
        <div class="box-about">
          <img src="assets/sheet.png" alt="">
          <div>
            <h3>Reports</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis aliquam velit neque error, laboriosam eligendi vel
              voluptate?
            </p>
          </div>
        </div>
        <div class="box-about">
          <img src="assets/nut.png" alt="">
          <div>
            <h3>Resource management</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis aliquam velit neque error, laboriosam eligendi vel
              voluptate?
            </p>
          </div>
        </div>
        <div class="box-about">
          <img src="assets/person.png" alt="">
          <div>
            <h3>Multiple roles</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugit consectetur modi, suscipit explicabo
              ea, ut voluptates ad earum architecto ipsum corporis aliquam velit neque error, laboriosam eligendi vel
              voluptate?
            </p>
          </div>
        </div>
      </section>
      <h2>More Information</h2>
      <section class="flex-information">
        <div class="box-information">
          <label>Name</label>
          <input type="text" placeholder="text your name here">
          <label>Email</label>
          <input type="text" placeholder="text your email here">
        </div>
        <div class="box-information">
          <span>Contact area:</span>
          <label><input type="radio" name="contact" value="Human Resources">Human Resources</label>
          <label><input type="radio" name="contact" value="Systems">Systems</label>
          <label><input type="radio" name="contact" value="Commercialization">Commercialization</label>
        </div>
        <div class="box-information">
          <label>Message</label>
          <textarea name="Message" placeholder="text your message here"></textarea>
          <button>Send</button>
        </div>
      </section>
      <h2>Our History</h2>
      <h3>GigaTech Software Solutions SA</h3>
      <section class="flex-history">
        <div class="box-history">
          <p id="history">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in dignissimos, sunt quaerat inventore dolore
            recusandae similique ratione ut expedita nobis pariatur illo fugit! Ea laboriosam quasi aperiam beatae magni.
          </p>
        </div>
        <div class="box-history">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in dignissimos, sunt quaerat inventore dolore
            recusandae similique ratione ut expedita nobis pariatur illo fugit! Ea laboriosam quasi aperiam beatae magni.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in dignissimos, sunt quaerat inventore dolore
            recusandae similique ratione ut expedita nobis pariatur illo fugit! Ea laboriosam quasi aperiam beatae magni.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in dignissimos, sunt quaerat inventore dolore
            recusandae similique ratione ut expedita nobis pariatur illo fugit! Ea laboriosam quasi aperiam beatae magni.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in dignissimos, sunt quaerat inventore dolore
            recusandae similique ratione ut expedita nobis pariatur illo fugit! Ea laboriosam quasi aperiam beatae magni.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in dignissimos, sunt quaerat inventore dolore
            recusandae similique ratione ut expedita nobis pariatur illo fugit! Ea laboriosam quasi aperiam beatae magni.
          </p>
        </div>
      </section>
      <section class="flex-prodServ">
        <article>
          <h2>Products & Services</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem error totam veritatis doloribus ipsa rerum omnis
            debitis ipsam sapiente assumenda iusto sit, quae quaerat laboriosam fugit commodi officiis sed perspiciatis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem error totam veritatis doloribus ipsa rerum omnis
            debitis ipsam sapiente assumenda iusto sit, quae quaerat laboriosam fugit commodi officiis sed perspiciatis.
          </p>
        </article>
        <article class="flex-box-prodServ">
          <div class="box-prodServ">
            <h3>Products</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptas velit quas dolor reiciendis
              minima labore neque aspernatur facilis sint, eveniet fuga harum minus hic deleniti adipisci laboriosam, quia
              nemo!
            </p>
            <ol>
              <li>Functionalities</li>
              <li>Downloads</li>
              <li>Integrations</li>
              <li>Additional features</li>
            </ol>
          </div>
          <div class="box-prodServ">
            <h3>Business</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptas velit quas dolor reiciendis
              minima labore neque aspernatur facilis sint, eveniet fuga harum minus hic deleniti adipisci laboriosam, quia
              nemo!
            </p>
            <ol>
              <li>About us</li>
              <li>Customers</li>
              <li>Means</li>
              <li>Blog</li>
            </ol>
          </div>
          <div class="box-prodServ">
            <h3>Support</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptas velit quas dolor reiciendis
              minima labore neque aspernatur facilis sint, eveniet fuga harum minus hic deleniti adipisci laboriosam, quia
              nemo!
            </p>
            <ol>
              <li>Aid</li>
              <li>Tutorials</li>
              <li>API</li>
              <li>Contact</li>
            </ol>
          </div>
        </article>
      </section>
    </main>
     -->
  </div>   
  <footer>
    <nav>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-square-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
    </nav>
    <p>Copyright © 2022 Radium Rocket. All rights reserved.</p>
  </footer> 
</body>
</html>