header{
  height: 90px;
  background-color: #D9D9D9;
  color: #373867;
  display: flex;
  align-items: center;
}

header nav{
  display: flex;
  justify-content: space-between;
}

header nav a{
  text-decoration: none;
}

ul{
  list-style: none;
  display: flex; 
}

.logo{
  display: flex;
  justify-content: space-between;
}

.container-1{
  display: flex;
  justify-content: space-around;  
} 

/* 

header nav{
  padding: 30px;
  vertical-align: middle;
}

header nav .menu-left{
  text-align: left;
}

header nav .menu-right{
  text-align: right;
}

header nav a{
  display: inline;
  padding: 0 20px;
  text-decoration: none;
}

header nav a:hover{
  background-color: #373867;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
} */
