header{
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  color: #373867;  
}

header .menu-header{
  display: none;
}

.container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container a{
  text-decoration: none;
  color: #373867;
  font-weight: bold;
}

@media screen and (min-width: 834px) {
  header .menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}