aside{
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 200px;
  height: 100%;
  margin-top: 70px;
}

.aside-container{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin: 20px ;
}

.aside-container a{
  padding-top: 20px;
}

aside label{
  display: block;
  border-bottom: #373867 solid 2px;
}

aside span{
  margin: 20px 0;
  color: #373867;
}

aside a{
  text-decoration: none;
  color: #373867;
}

aside a:hover{
  background-color: #373867;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

aside i{
  color: #373867;
}

aside i:hover{
  color: #ffffff;
}

@media screen and (min-width: 1024px){
  aside{
    display: flex;
  }
}