aside{
  display: none;
}

@media screen and (min-width: 1512px) {
  aside{
    display: flex;
    position: fixed;
    background-color: #D9D9D9;
    width: 200px;
    height: 100%;
    flex-direction: column;
  }
  
  aside a{
    text-decoration: none;
    color: #373867;
  }
  
  aside a:hover{
    background-color: #373867;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
  }
  
  aside i{
    color: #373867;
  }
  
  aside i:hover, :focus{
    color: #ffffff;
  }
  
  aside label{
    border-bottom: #373867 solid 2px;
    display: block;
  }
  
  .aside-link{
    padding: 10px;
  }
  
  .aside-link p{
    display: inline-block;
    width: 85%;
  }
  
  .div-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .div-contact{
     bottom: 0;
    position: absolute;
    margin-bottom: 250px; 
  }
}